
form
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

form input {
    padding: 10px;
    width: 70%;
    border-radius: .2rem;
}

.search-form
{
    margin: 0px;
}